:root{
  --MainColor:#1E1E1E;
  --primaryColor:#252525;
  --btnColor:#880F0F;
  --white:#fff;
  --sliderCirclesNotactive:#D9D9D9;
  --sliderCirclesActive:#880F0F;
  --mainContainerMargins:1.875rem 3.75rem 1.75rem 3.75rem;
  --mobileMargin:20px 20px 20px 20px;
  --cardMargin:10px 10px 10px 10px;
}
/* these are the style that apply to the whole website */
.container{
  margin:var(--mainContainerMargins);
}
.handbuger{
  display: none;
}
.line{
  width: 1.25rem;
  height: 0.094rem;
  background-color: var(--white);
  margin-top: 0.25rem;
}
.mobileContainer{
  margin: var(--mobileMargin);
}
/* working on the crossing of the handbugger animation */
.open div:nth-child(1){
 transform:rotate(45deg);
 transform-origin: center center;
 transition:all  500ms ease-in-out;

}
.open div:nth-child(2){
  transform:rotate(-45deg);
  transform-origin: center left;
  transition:all  500ms ease-in-out;
 }
 .open div:nth-child(3){
 opacity: 0;
  transform-origin: center;
  transition:all  500ms ease-in-out;
 }
 .open {

  cursor: pointer;
 }
 

/* these are the styles required for the body */
body{
  background-color: var(--MainColor);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
}
.mainContainer{
margin: var(--mainContainerMargins);
}
.navGap{
  gap: 1.875rem;
}
.smallIcons{
  width: 1.79rem;
  height: 1.465rem;
  object-fit: cover;
}

/* animations and hover */
 li{
  position: relative;
}
.border-link{
  position: absolute;
 
  right: 0;
  height: 4px;
  width: 100%;
  bottom: -18px;
  background:linear-gradient(45deg, var(--btnColor) 50%, rgb(235, 235, 99));
  border-radius: 2px;
  opacity: 0;
}
.nav-items li:hover{
  .border-link{
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }


}
.mobile-menu{

  display: none;
  
  }
  /* this section contains all the styles of hero section */

  .hero{
    background:linear-gradient(180deg, #260202 10%, var(--MainColor));
    margin-top: 0;
    padding-top: 10px;
    height: 100%;
  }
  .hero-heading h1{
    
    -webkit-text-stroke:2px #880F0F;
    font-size: 4rem;
    font-weight:500;
  }
  .hero-heading h2{
    
    -webkit-text-stroke:2px #880F0F;
    font-size: 3rem;
    font-weight:500;
  }
  .hero-heading h6{
      font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
  }
  .hero-heading p{
    font-size: 14px;
  }
  .hero-icons img{
    width: 25px;
  }
 .rating{
  font-size: 13px;
  margin-top: 6px;
 }
 .red-btn button{
  background-image:linear-gradient(to left, var(--btnColor),var(--btnColor));
  font-size: 13px;
  padding:10px;

 }
 .red-btn button:hover{
  background-image: linear-gradient(to bottom right, var(--btnColor), rgb(178, 178, 12));
  transition: background-image 1000ms ease-in-out;
  
 }
 .spider-image img{
  width: 300px;
  height: 500px;
  margin-top: 5px;
  margin-left: 0;

 }

 .man-text h1{
  -webkit-text-stroke:2px #880F0F;
  font-size: 5rem;
  font-weight:500;
  text-align: left;
 }
 .hero-border{
  border: 1px solid yellow;
 }
 .mobile-container{
  margin:var(--mobileMargin);
 }
 .large-screen-text{
  display: none;
}

/* working on the watch history */

.whatch-history{


  margin: var(--cardMargin);
  width: 100%;
}
.whatch-history-card{
  background-color:var(--primaryColor);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  padding: var(--cardMargin);
  border-radius: 10px;
  padding: 20px;
  /* width: 270px; */
}
.whatch-history-card img{
  height: 81px;
  width: 119px;
  border-radius: 5px;

}

.whatch-history-card h1{
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.whatch-history-card p{
  font-size: 14px;
}

.movie-search input{
  background-color: var(--primaryColor);
  height: 41px;
  border-radius:10px;
}
/* making the breakpoints for the mobile size */

@media (max-width: 640px){ 

  /* mobile here section design */
  .mobile-text-head{
    display: none;
  }
  .large-screen-text{
    display: block;
  }
  .spider-image{
    display: none;
  }
  .man-text h1{
    display: none;
  }

  /* hero section designs here  */


  .navbar{
    display: flex;
    justify-content: space-between;
    margin: var(--mobileMargin);
  }
  .nav-items{
    display: none;
  }
  .signup img,p{
    display: none;
  }
  .handbuger{
    display:block;
  }

  .mobile-menu{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
    background-color:var(--MainColor);
    border-bottom: 3px solid var(--MainColor);

    /* background-color:rgb(29, 26, 29); */
    height: 100vh;

  }


  
 }