:root{
  --MainColor:#1E1E1E;
  --btnColor:#880F0F;
  --white:#fff;
  --sliderCirclesNotactive:#D9D9D9;
  --sliderCirclesActive:#880F0F;
  --mainContainerMargins:1.875rem 3.75rem 1.75rem 3.75rem;
  --mobileMargin:20px 20px 20px 20px;
}
/* these are the style that apply to the whole website */
.handbuger{
  display: none;
}
.line{
  width: 1.25rem;
  height: 0.094rem;
  background-color: var(--white);
  margin-top: 0.25rem;
}
.mobileContainer{
  margin: var(--mobileMargin);
}
/* working on the crossing of the handbugger animation */
.open div:nth-child(1){
 transform:rotate(45deg);
 transform-origin: center center;

}
.open div:nth-child(2){
  transform:rotate(-45deg);
  transform-origin: center left;
 }
 .open div:nth-child(3){
 opacity: 0;
  transform-origin: center;
 }
 .open {
  transition:all  900ms ease-in-out;
  cursor: pointer;
 }
 

/* these are the styles required for the body */
body{
  background-color: var(--MainColor);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
}
.mainContainer{
margin: var(--mainContainerMargins);
}
.navGap{
  gap: 1.875rem;
}
.smallIcons{
  width: 1.79rem;
  height: 1.465rem;
  object-fit: cover;
}

/* animations and hover */
 li{
  position: relative;
}
.border-link{
  position: absolute;
 
  right: 0;
  height: 4px;
  width: 100%;
  bottom: -18px;
  background:linear-gradient(45deg, var(--btnColor) 50%, rgb(235, 235, 99));
  border-radius: 2px;
  opacity: 0;
}
.nav-items li:hover{
  .border-link{
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }


}
.mobile-menu{

  display: none;
  
  }

/* making the breakpoints for the mobile size */
@media (max-width: 640px){ 

  .navbar{
    display: flex;
    justify-content: space-between;
    margin: var(--mobileMargin);
  }
  .nav-items{
    display: none;
  }
  .signup img,p{
    display: none;
  }
  .handbuger{
    display:block;
  }

  .mobile-menu{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);

  }
  
 }